<div class="navbar col-xs-12">
	<div class="headerbar container-fluid">
		<a class="navbar-brand" ng-href='/'>AL's Tech</a>

		<div class="navbarlinks">
			<a class="link" ng-href='/'>Category</a>
			<a class="link" ng-href='/'>Price</a>
			<a class="link" ng-href='/'>Brand</a>
			<a class="link" ng-href='/'>Type</a>
		</div>

		<span class="glyphicon glyphicon-shopping-cart" ng-href='/'></span>
		<input id="search-box" class="form-control" type="text" placeholder="Search">	
	</div>
</div>
<div class="grid">
	<div class="grid-sizer"></div>
	<div class="grid-item" ng-repeat="tech in techGoods" ><img ng-src="{{tech.image}}" alt="bestbuy item"></div>
</div>
