<div class="navbar col-xs-12">
	<div class="headerbar container-fluid">
		<a class="navbar-brand" ng-href='/'>AL's Tech</a>

		<div class="navbarlinks">
			<a class="link" ng-click="showCategories()">Category</a>
			<a class="link" ng-click="showPrice()">Price</a>
			<a class="link" ng-click="showBrands()">Brand</a>
			<a class="link" ng-click="showTypes()">Type</a>
		</div>

		<a href='/'><span class="glyphicon glyphicon-off"></span></a>
		<input id="search-box" class="form-control" type="text" ng-model="query" ng-change="algoliaSearch()"  placeholder="Search">	
	</div>
</div>

<!-- <div class="customMenu"> -->

	<div id="categoryMenu" ng-if="showDropdown">
		<ul>
			<li class="categoryList" ng-repeat="category in categories">
				<label class="checkbox-inline">
				  	<input type="checkbox"  ng-checked="">{{category}}
				</label>
			</li>
		</ul>
	</div>

	<div id="priceMenu" ng-if="displayPrice">
		 <h2>Range slider</h2>
		Min Value:
		            <input type="number" ng-model="slider.min" />
                <br/>Max Value:
		            <input type="number" ng-model="slider.max" />
		            <br/>
		            <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options"></rzslider>
	</div>
	
	<div id="brandsMenu" ng-if="displayBrands">
		<ul>
			<li class="brandsList"  ng-repeat="brand in products | unique:'brand' ">
				<label class="checkbox-inline">
				  	<input type="checkbox"  ng-checked="">{{brand}}
				</label>
			</li>
		</ul>
	</div>	

	<div id="typesMenu" ng-if="displayTypes">
		<ul>
			<li class="typesList"  ng-repeat="type in products  | unique:'type'">
				<label class="checkbox-inline">
				  	<input type="checkbox"  ng-checked="">{{type}}
				</label>
			</li>
		</ul>
	</div>
<!-- </div> -->

<div class="grid">
	<div class="grid-sizer"></div>
	<div class="grid-item" ng-repeat="tech in products" ng-click="algoliaSearch(tech)" ><img ng-src="{{tech.image}}" alt="bestbuy item"></div>
</div>

<modal visible="showProduct">
     <a ng-href="{{product.url}}">
	<img class="productImg" ng-src="{{product.image}}" alt="{{product.type}}">
     </a>

    <div id="productView">
            <h4 class="modalHeader text-center">{{product.name}}</h4>

            <p class="productPrice">{{product.price}}</p>

            <p class="productPopulartiy"><b>Popularity</b><span class="rating">***</span></p>
    </div>  

    <div id="productDetails">
            <div class="productDescription">
                    <p><b>{{product.description}}</b></p>
                    <div>
                        <p id="productType">{{product.type}}</p>
                    </div>
            </div>
    </div>
</modal>
