@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
html, body {
  background: #373F51; }

.navbar {
  background: #1B1B1E; }
  .navbar .navbar-brand {
    color: #D8DBE2;
    font-family: 'didot';
    font-size: 1.75em;
    text-shadow: .5px .5px .5px #ffffff;
    position: relative;
    z-index: 1000; }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:active {
      text-decoration: none;
      color: #58A4B0; }

.glyphicon.glyphicon-shopping-cart {
  padding-top: 1%;
  padding-right: 1%;
  float: right;
  color: #ffffff;
  font-size: 2em;
  position: relative; }

.navbarlinks {
  margin: auto;
  padding-left: 10%;
  bottom: 25%;
  width: 100%;
  position: absolute; }

.link {
  font-family: 'arial';
  font-size: 15px;
  margin: 5%;
  color: #D8DBE2; }
  .link:hover {
    transition: 0.5s ease;
    border-bottom: 2px solid #D8DBE2;
    padding-bottom: .5%;
    text-decoration: none; }

#search-box {
  float: right;
  width: 25%;
  margin: .5% 5%; }

.grid {
  max-width: 100%;
  margin: 0 5%; }
  .grid:after {
    content: '';
    display: block;
    clear: both; }

.grid-item {
  float: left;
  max-width: 100%; }
  .grid-item img {
    display: block;
    max-width: 100%; }

.grid-sizer {
  width: 100%; }

.highlight {
  box-shadow: 5px 5px 5px #000000; }
