html, body {
  background: #F7F3E3;
  max-width: 100%; }

.navbar {
  background: #003B64; }

.glyphicon.glyphicon-off {
  float: left;
  color: #5EFC8D;
  font-size: 3em;
  text-shadow: .5px .5px .5px #ffffff; }
  .glyphicon.glyphicon-off:hover, .glyphicon.glyphicon-off:active {
    text-decoration: none;
    color: #FF686B; }

.navbarlinks {
  margin: auto;
  padding-left: 10%;
  bottom: 25%;
  width: 100%;
  position: absolute; }

.categoryLink, .priceLink, .brandLink, .typeLink {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  margin: 0 3%;
  color: #ffffff;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }
  .categoryLink:hover, .priceLink:hover, .brandLink:hover, .typeLink:hover {
    transition: 0.5s ease;
    border-bottom: 2px solid #FF686B;
    padding-bottom: .5%;
    color: white;
    text-decoration: none; }

#categoryMenu, #priceMenu, #brandsMenu, #typesMenu, #priceMenu, #brandsMenu, #typesMenu {
  display: none;
  padding: 5px; }

#searchBar {
  position: relative; }
  #searchBar .glyphicon.glyphicon-search {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 1.75em;
    float: right;
    position: absolute;
    margin-left: 93%;
    top: 10px; }
  #searchBar #search-box {
    float: right;
    width: 30%;
    margin-top: 4px;
    border-radius: 5px;
    color: #035E7B;
    font-family: "didot";
    font-size: 1.5em;
    border-right: none; }
    #searchBar #search-box::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.4);
      font-size: 1em; }
    #searchBar #search-box::-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.4);
      font-size: 1em; }
    #searchBar #search-box::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.4);
      font-size: 1em; }
    #searchBar #search-box::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.4);
      font-size: 1em; }
    #searchBar #search-box:focus {
      outline: #FF686B; }

#interface {
  margin: 0 1%; }

#hits-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-top: 2px solid #000; }

.productItem {
  float: left;
  width: 30%;
  height: auto;
  min-height: 35em;
  max-height: 35em;
  margin: 1%;
  padding-right: 3%;
  padding-bottom: 3%;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888868; }

#prodPic {
  float: left;
  max-width: 10em;
  max-height: 10em;
  height: auto;
  width: auto;
  border-radius: 5px;
  margin-left: .5em;
  margin-top: 1em; }

#title {
  float: left;
  font-family: "didot";
  font-size: 1.5em;
  color: #FF686B;
  text-align: center;
  width: 100%;
  margin: 5%; }

#description {
  text-align: center;
  font-family: "georgia";
  font-size: 85%;
  color: #035E7B;
  width: 100%;
  max-height: 1em;
  margin: 2% 5%;
  clear: both; }

#popularity {
  float: right;
  color: #FF686B; }

#price {
  font-family: "didot";
  float: right;
  font-size: 200%;
  color: #5CB85C; }

#categoryMenu, #priceMenu, #brandsMenu, #typesMenu {
  margin-top: 4em;
  margin-left: 10%;
  background: rgba(247, 243, 227, 0.9);
  border-radius: 5px;
  border: solid #003B64;
  color: #003B64;
  width: 28%;
  max-width: 20em;
  position: absolute; }

.categoryList, .brandsList, .typesList {
  list-style: none; }

.lineItem {
  margin: 4%; }

#priceMenu {
  margin-left: 17%;
  width: 35%;
  max-width: 25em;
  padding: .5em 3em; }

#brandsMenu {
  margin-left: 30%;
  width: 18%;
  max-width: 20em; }

#typesMenu {
  margin-left: 37%;
  width: 23%;
  max-width: 20em; }

.btn.btn-success {
  float: right;
  width: 45%; }

.row {
  height: 10%;
  width: 100%;
  max-height: 4em;
  margin: 0 4%; }

#pagination-container {
  width: 100%;
  margin: auto;
  text-align: center;
  clear: both; }

.page {
  font-size: 2em;
  background: #003B64; }

.num {
  color: white;
  width: 20em; }
  .num:hover {
    color: white; }

#notFound {
  margin-left: 50%;
  margin-right: 50%; }

#notFoundHeader {
  font-family: "didot";
  color: #FF686B; }

.count {
  background: rgba(0, 59, 100, 0.5);
  border-radius: 5px;
  padding: .1em .2em;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none; }
  .count:hover {
    color: #5EFC8D; }

#relavanceheader {
  width: 100%;
  padding: 0 5%;
  font-family: "didot";
  font-size: 1.5em;
  color: #FF686B; }

.ais-stats--time {
  font-size: .75em;
  color: #ff9b9d; }

#stats {
  float: left; }

#sort-by {
  float: right; }

.dropdown {
  font-size: .85em;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

.glyphicon.glyphicon-triangle-bottom {
  float: right;
  padding-left: 1%;
  padding-top: .5%;
  font-size: .5em;
  cursor: pointer; }
