html, body {
  background: #F7F3E3;
  max-width: 100%; }

.navbar {
  background: #816C61; }

.glyphicon.glyphicon-off {
  float: left;
  color: #FF686B;
  font-size: 3em;
  text-shadow: .5px .5px .5px #ffffff; }
  .glyphicon.glyphicon-off:hover, .glyphicon.glyphicon-off:active {
    text-decoration: none;
    color: #5EFC8D; }

.navbarlinks {
  margin: auto;
  padding-left: 10%;
  bottom: 25%;
  width: 100%;
  position: absolute; }

.categoryLink, .priceLink, .brandLink, .typeLink {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  margin: 0 3%;
  color: #ffffff; }
  .categoryLink:hover, .priceLink:hover, .brandLink:hover, .typeLink:hover {
    transition: 0.5s ease;
    border-bottom: 2px solid #FF686B;
    padding-bottom: .5%;
    color: #5EFC8D;
    text-decoration: none; }

#categoryMenu, #priceMenu, #brandsMenu, #typesMenu, #priceMenu, #brandsMenu, #typesMenu {
  display: none; }

#search-box {
  float: right;
  background: #816C61;
  width: 30%;
  border-radius: 5px;
  color: white;
  font-family: "didot";
  font-size: 1.5em; }
  #search-box::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1em; }
  #search-box::-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.4);
    font-size: 1em; }
  #search-box::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.4);
    font-size: 1em; }
  #search-box::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1em; }
  #search-box:focus {
    outline: #FF686B; }

#hits-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.productItem {
  float: left;
  width: 30%;
  margin: 1%;
  padding-right: 3%;
  padding-bottom: 3%;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888868; }

#prodPic {
  float: left;
  max-width: 10em;
  max-height: 10em;
  height: auto;
  width: auto;
  border-radius: 5px; }

#title {
  float: left;
  font-family: "didot";
  font-size: 1.5em;
  color: #FF686B;
  text-align: center;
  width: 100%;
  margin: 5%; }

#description {
  text-align: center;
  font-family: "georgia";
  font-size: 1em;
  color: #035E7B;
  width: 100%;
  margin: 0 5%;
  clear: both; }

#popularity {
  float: right;
  color: #FF686B; }

#price {
  font-family: "didot";
  float: right;
  font-size: 200%;
  color: #5CB85C; }

#categoryMenu, #priceMenu, #brandsMenu, #typesMenu {
  margin-top: 4em;
  margin-left: 10%;
  background: rgba(247, 243, 227, 0.9);
  border-radius: 5px;
  border: solid #816C61;
  color: #816C61;
  width: 25%;
  max-width: 25em;
  position: absolute; }

.categoryList, .brandsList, .typesList {
  list-style: none; }

#priceMenu {
  margin-left: 20%;
  width: 35%;
  max-width: 25em; }

#brandsMenu {
  margin-left: 37%; }

#typesMenu {
  margin-left: 50%; }

.btn.btn-success {
  float: right;
  width: 10em; }

.row {
  height: 10%;
  width: 100%;
  max-height: 4em;
  margin: 0 4%; }

#pagination-container {
  width: 100%;
  margin: auto;
  text-align: center;
  clear: both; }

.page {
  font-size: 2em;
  background: #816C61; }

.num {
  background: #F7F3E3;
  color: #FF686B;
  width: 20em; }

#notFound {
  margin-left: 50%;
  margin-right: 50%; }

#notFoundHeader {
  font-family: "didot";
  color: #FF686B; }
