$main-base: #F7F3E3;
$secondary-base: #003B64;
$text-base: #FF686B;
$hover-base: #5EFC8D;
$heading-font: 'didot';
$paragraph-font: 'georgia';
$paragraph-base: #035E7B;
$button-width: 45%;

@mixin holographic {
	background:  -moz-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* FF3.6+ */
	background:  -webkit-gradient(linear, left top, bottom right, color-stop(rgba(224, 224, 209, .2)), color-stop(rgba(235, 235, 224, .8))); /* Chrome,Safari4+ */
	background:  -webkit-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* Chrome10+,Safari5.1+ */
	background:  -o-linear-gradient(left top, rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* Opera 11.10+ */
	background:  -ms-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* IE10+ */
	background:  linear-gradient(to bottom right,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(224, 224, 209, .2)', endColorstr='rgba(235, 235, 224, .8)',GradientType=0 ); /* IE6-9 */

}


html, body{
	background: $main-base;
	max-width: 100%;
}

.navbar{
	background: $secondary-base;
}

.glyphicon.glyphicon-off{
	float: left;
	color: $hover-base;
	font-size: 3em;
	text-shadow: .5px .5px .5px #ffffff; 

	&:hover, &:active{		
		text:{
			decoration: none;
		};
		color: $text-base;
	};
}

.navbarlinks{
	margin: auto;
	padding-left: 10%;
	bottom: 25%;
	width: 100%;
	position: absolute;
}

.categoryLink, .priceLink, .brandLink, .typeLink{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	margin: 0 3%;
	color: #ffffff;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	&:hover{
		 transition: 0.5s ease;
		 border-bottom: 2px solid $text-base;
		 padding-bottom: .5%;
		 color: white;
		text:{
			decoration: none;
		};
	};
}

#categoryMenu, #priceMenu, #brandsMenu, #typesMenu{
	display:none;
	padding: 5px;
}

#searchBar{
	position: relative;
	.glyphicon.glyphicon-search{
		background: #ffffff;
		color: rgba(#000000, .4);
		border-radius: 5px;
		font-size: 1.75em;
		float: right;
		position: absolute;
		margin-left: 93%;
		top: 10px;
	}
	#search-box{
		float:right;
		width: 30%;
		max-width: 30em;
		margin-top: 4px;
		margin-right: .02%;
		border-radius: 5px;
		color: $paragraph-base;
		font-family: $heading-font;
		font-size: 1.5em;
		border-right: none;


		&::-webkit-input-placeholder {
		   color: rgba(#000000, .4);
		   font-size: 1em;

		}

		&::-moz-placeholder { /* Firefox 18- */
		    color: rgba(#000000, .4);
		    font-size: 1em;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		    color: rgba(#000000, .4);
		    font-size: 1em;
		}

		&::-ms-input-placeholder {  
		    color: rgba(#000000, .4);
		    font-size: 1em;
		}
		&:focus{
		    outline: #FF686B;
		}
	}
}


#interface{
	margin: 0 1%;
}

#hits-container{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	border-top: 2px solid #000;

}

.productItem{
	float:left;
	width: 30%;
	height: auto;
	min-height: 35em;
	max-height: 35em;
	margin: 1%;
	padding-right: 3%;
	padding-bottom: 3%; 
	background: lighten(#A0A083, 50%);
	border-radius: 5px;
	box-shadow: 5px 5px 5px darken(#A0A083, 10%);
}


#prodPic{
	float:left;
	max-width:10em;
	max-height:10em;
	height: auto;
	width: auto;
	border-radius: 5px;	
	margin-left: .5em;
	margin-top: 1em;
}

#title{
	float: left;
	font-family: $heading-font;
	font-size: 1.5em;
	color: $text-base;
	text-align: center;
	width: 100%;
	margin: 5%;
}

#description{
	text-align: center;
	font-family: $paragraph-font;
	font-size: 85%;
	color: $paragraph-base;
	width: 100%;
	max-height: 1em;
	margin: 2% 5%;
	clear: both;
}

#popularity{
	float:right;
	color: $text-base;
}


#price{
	font-family: $heading-font;
	float: right;
	font-size: 200%;
	color: #5CB85C;
}


#categoryMenu{
	margin-top: 4em;
	margin-left: 10%;
	background: rgba($main-base, .9);
	border-radius: 5px;
	border: solid $secondary-base;
	color: $secondary-base;
	width: 28%;
	max-width: 20em;
	position: absolute;
}

.categoryList{
	list-style: none;
	
}

.lineItem{
	margin: 4%;
}

#priceMenu{
	@extend #categoryMenu;
	margin-left: 17%;
	width: 35%;	
	max-width: 25em;
	padding: .5em 3em;
}

#brandsMenu{
	@extend #categoryMenu;
	margin-left: 30%;
	width: 18%;
	max-width: 20em;
} 

.brandsList{
           @extend .categoryList;
}

#typesMenu{
	@extend #categoryMenu;
	margin-left: 37%;
	width: 23%;
	max-width: 20em;

}

.typesList{
            @extend .categoryList;
}

.btn.btn-success{
	float: right;
	width: $button-width;
}

.row{	
	height: 10%;
	width: 100%;
	max-height: 4em;
	margin: 0 4%;
}

#pagination-container{
	width: 100%;
	margin: auto;
	text-align: center;
	clear:both;
}
.page{
	font-size: 2em;
	background: $secondary-base;
	
}

.num{	
	color: white;
	width: 20em;
	&:hover{
		color: white;
	};

}

#notFound{
	margin-left: 50%;
	margin-right: 50%;
}

#notFoundHeader{
	font-family: $heading-font;
	color: $text-base;
}

.count{
	background: rgba($secondary-base, .5);
	border-radius: 5px;
	padding: .1em .2em;
	color: #ffffff;
	cursor: pointer;
	text:{
		decoration: none;
	};
	&:hover{
		color:$hover-base;
	};	
}

#relavanceheader{
	width: 100%;
	padding: 0 5%;
	font-family: $heading-font;
	font-size: 1.5em;
	color: $text-base;
}

.ais-stats--time{
	font-size: .75em;
	color: lighten($text-base, 10%);	
}

#stats{
	float: left

}

#sort-by{
	float: right;
}

.dropdown{
	font-size: .85em;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}


.glyphicon.glyphicon-triangle-bottom {
	float:right;
	padding-left:1%;
	padding-top: .5%;
	font-size: .5em;
	cursor: pointer;
}

