$main-base: #007EA7;
$secondary-base: #00171F;

html, body{
	background: $main-base;
}

.navbar{
	background: $secondary-base;

	.navbar-brand {
		color: #ffffff;
		font-family: 'Futura';
		font-size: 1.5em;
		text-shadow: .5px .5px .5px #ffffff; 

		&:hover, &:active{		
			text:{
				decoration: none;
			};
			color: lighten($secondary-base, 25%);
		};
	}
}



